.characterCard {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  width: 100%;
}
.card {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px #b0bec5;
  text-align: center;
  border-radius: 1em;
 /*  border-radius: 0 0 0.5rem 0; */
  position: relative;
  margin: 0.5rem;
  width: 18rem;
  height: 30rem;
}
 .card-img-top {
  width: 100%;
  height: 18rem;
}
/*.card-body {
  flex: 0.8
} */
